body{
    background-color: pink;
}
textarea{
    width: 80%;
    height: 40vh;
    display: block;
    margin: 1rem;
    padding: 1rem;   
}

#output{
    border: 1px solid black;
    width: 80%;
    height: 40vh;
    display: block;
    margin: 1rem;
    padding: 1rem;   
}